body{
	background-image: url("background.jpg");
  	background-color: black;
		background-size: 100% 100%;
  	font-family: "Courier New", Courier, monospace;
  	color: #1ec503;
  	text-align: center;
  	margin: 0;
}

#header, #footer {
	width: 100%;
	position:fixed;
	left: 0;
	background: #E7E7E7;
}

#header {
	top:0;
	color: black;
}

#footer {
	bottom:0;
}

#container {
	display: inline-block;
	width: 50%;
	min-width: 170px;
	height: 100%;
	background-color: black;
	text-align: center;
}

#container h2 {
	font-weight: 100;
}

#numbutton {
	display: inline-block;
	color: #000;
	text-decoration: none;
	background: #E7E7E7;
	width: 10em;
}

#numbutton:hover {
	color: #000;
	background: #B9B9B9;
	text-decoration: none;
}

#number {
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	color: #1ec503;
	text-align: center;
}

#Facts {
	padding-left: 10px;
	padding-right: 10px;
}

/*#numbutton .selected {
	color: #000;
	background: #B9B9B9;
	text-decoration: none;
}*/
